body {
    background-color:#000000;
}

h1 {
    color: #7FFF00;
}

nbody {
    padding-top: 5rem;
}

.lead{
    color: #7FFF00;
    font-size: medium;
}

.container{
    text-align: center;
    color: #7FFF00;
}}
