body {
    background-color:#000000;
}

h1 {
    color: white;
}

nbody {
    padding-top: 5rem;
}

.lead{
    color: white;
    font-size: medium;
}

.container{
    text-align: center;
    color: gray;
}}
